<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <!-- async permet de dire que la donnée que l'on souhaite affiché n'est pas disponible immediatement -->
      <!--<p>Mis à jour : {{ lastUpdate | async | date: 'short' | uppercase }}</p>-->
      <ul class="list-group">
        <app-appareil  *ngFor="let appareil of appareils"
                       [appareilName]="appareil.name"
                       [appareilStatus]="appareil.status"></app-appareil>      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>
